.important {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__wrapper {
        display: flex;
        width: 600px;
        height: 400px;
        background: repeating-conic-gradient(from var(--a), #01dbc2 0%, #01dbc2 10%, transparent 10%, transparent 50%);
        animation: rotated 5s linear infinite;
        box-shadow: 5px 5px 10px black;
        margin: 0 auto;
        border-radius: 20px;
        padding: 30px;
        flex-direction: column;
        position: relative;
        border-radius: 20px;
    }

    &__overlay {
            width: 640px;
            height: 440px;
            top: 10px;
            left: 10px;
            background-color: white;
            border-radius: 10px;
            position: absolute;
        }

    &__switcher {
        margin: 0 0 0 auto;
        border: 3px solid #63b3de;
        padding: 5px;
        border-radius: 10px;
        background-color: #cce3ef;
        transition: background-color 0.5s ease-in;

        &:hover {
            background-color: #2298d8;
            transition: background-color 0.3s ease-in;
        }
    }

    &__buttons {
        display: flex;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        z-index: 2;
    }

    &__add {
        padding: 10px;
        background-color: #92d69b;
        border: 3px solid #e3e58f;
        border-radius: 10px;
        transition: background-color 0.3s ease-in;

        &:hover {
            background-color: #48e5cb;
            transition: background-color 0.3s ease-in;
        }
    }

    &__list {
        padding: 0;
        list-style: none;

    }

    .dark {
        background-color: #615e5e;
        color: white;
    }

    &__item {
        display: flex;
        justify-content: center;
    }

}










@property --a {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}


@keyframes rotated {
    0% {
        --a: 0deg
    }

    100% {
        --a: 360deg
    }
}