.important {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    &__wrapper {
        display: flex;
        width: 600px;
        height: 400px;
        background: repeating-conic-gradient(from var(--a), #01dbc2 0%, #01dbc2 10%, transparent 10%, transparent 50%);
        animation: rotated 5s linear infinite;
        box-shadow: 5px 5px 10px black;
        margin: 0 auto;
        border-radius: 20px;
        padding: 30px;
        flex-direction: column;
        position: relative;
        border-radius: 20px;
        overflow: hidden;
    }

    &__overlay {
        position: absolute;
        inset: 10px;
        background-image: linear-gradient(180deg, #9ae0b4, #a3cff8);
        border-radius: 10px;
        overflow: hidden;
        z-index: 1;
    }

    &__switcher {
        margin: 0 0 0 auto;
        border: 3px solid #63b3de;
        padding: 5px;
        border-radius: 10px;
        background-color: #cce3ef;
        transition: background-color 0.5s ease-in;

        &:hover {
            background-color: #2298d8;
            transition: background-color 0.3s ease-in;
        }
    }

    &__buttons {
        display: flex;
        width: 100%;
        flex-grow: 1;
        margin: 0 0 20px;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        z-index: 2;
    }

    &__add {
        padding: 10px;
        background-color: #92d69b;
        border: 3px solid #e3e58f;
        border-radius: 10px;
        transition: background-color 0.3s ease-in;

        &:hover {
            background-color: #48e5cb;
            transition: background-color 0.3s ease-in;
        }
    }

    &__list {
        padding: 0;
        list-style: none;
        width: 600px;
        margin: 0 0 0 0;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        overflow-y: auto;
        max-height: 350px;

        &::-webkit-scrollbar {
            display: none;
        }

    }

    .dark {
        background-image: linear-gradient(180deg, #525252, #464545);
        color: white;
    }

    .dark__wrapper {
        background-color: #353535;
    }

    &__div {
        display: flex;
        justify-content: space-between;
        background-image: linear-gradient(90deg, #97ffc9, #e66565);
        padding: 10px;
        color: #3d411a;
        border-radius: 10px;
        font-size: 20px;
    }

    &__edit {
        margin: 0 0 0 auto;
        border: 3px solid #63b3de;
        padding: 5px;
        border-radius: 10px;
        background-color: #cce3ef;
        transition: background-color 0.5s ease-in;

        &:hover {
            background-color: #2298d8;
            transition: background-color 0.3s ease-in;
        }
    }

    &__span {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}




@property --a {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}


@keyframes rotated {
    0% {
        --a: 0deg
    }

    100% {
        --a: 360deg
    }
}